<h1 class="jquery">Hello jQuery!</h1>
<p>jQueryは面白いですね</p>

    <div id="container">
      <div id="theTarget">
        <div class="test1"></div>
        <div class="test2"></div>
        <div class="test3"></div>
        <div class="test4"></div>
        <div class="test5"></div>
      </div>
      <p class="text">This is skippr</p>
    </div>